<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

	<div class="navbar-header">
		<a class="navbar-brand" href="#">
			<span class="glyphicon glyphicon-cutlery"></span>
			RESTOCARTES
		</a>

		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/apropos">A Propos</a></li>
			<li><a href="/cartes/1">Liste</a></li>
			<li><a href="/recherche">Recherche</a></li>
			<li><a href="/statistiques">Statistiques</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/newcarte">Ajout</a></li>
					<li><a href="/modifycarte">Modifier</a></li>
					<li><a href="/deletecarte">Supprimer</a></li>
				</ul>
			</li>	
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>
</nav>
