<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>RestoCartes</h1>
        <p>Bienvenue dans ma fantastique collection</p>
    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>