body {
  padding: 25px;
  background-color: #fff;
}

#listetable {
  border-collapse: collapse;
  width: 100%;
}

#listetable td, #listetable th {
    border: 1px solid #ddd;
    padding: 5px;
}

#listetable tr:nth-child(even){background-color: #f2f2f2;}

#listetable tr:hover {background-color: #ddd;}

#listetable th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #2382EF;
    color: white;
}

imgttt {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 75px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 75px;
}

.large {
  width: : 250px;

}
.details {
  color: red;
}

