<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

<div class="jumbotron">
        <h1>RestoCartes</h1>
        <p>Bienvenue dans ma fantastique collection</p>
        <p>Il y a à ce jour <%= count %> cartes dans la collection</p>
</div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>